
.d-none {
	display: none;
}

html, body {
	height: 100%;
}
body {
	font-family: sans-serif;
}

body, h1, h2, h3, h4 {
	margin: 0;
}

p.caption {
font-size: 10px;
}

#gamecontainer {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: strech;
	min-height:100%
}
#iframecontainer {
	height: 100%;
	width: 45%;
}
#terminal {
	padding-top: 2rem;
}
#roomeditor {
	color: lightgrey;
}
#webview {
	padding: 0.5rem;
	color: lightgrey;
}

#webview img {
	width: 100% !important;
}

#videoview {
	padding: 0.5rem;
}