<!doctype html>
<html>
<head>
<link rel="stylesheet"
	href="https://unpkg.com/xterm@4.0.0/css/xterm.css" />
<link rel="stylesheet" href="css/style.css" />
<script src="https://unpkg.com/xterm@4.0.0/lib/xterm.js"></script>
<script type="text/javascript" src="js/vue.global.js"></script>
</head>
<body style="background-color: #211c1c">
	<div id="gamecontainer">
		<div id="terminal" autofocus style="height: 100%"></div>
		<div id="roomeditor" class="d-none">
			<h2>Edit Room : LCC.Lounge</h2>
			<b>Exits</b><br /> N : Main Hall 3<br /> <select>
				<option>NW</option>
				<option>W</option>
				<option>SW</option>
				<option>S</option>
				<option>SE</option>
				<option>E</option>
				<option>NE</option>
			</select> area: <select>
				<option>LC3</option>
				<option>FOG</option>
				<option>C-Base</option>
			</select> room: <select>
				<option>MainHall1</option>
				<option>MainHall2</option>
				<option>Borg</option>
				<option>Adam</option>
			</select>
			<button>+ Add Exit</button>

			<br /> <br /> <b>Description</b> <br /> EN: <br />
			<textarea id="description" name="room_description_en" rows="10"
				cols="50" v-model="description_en"></textarea>
			<br /> DE: <br />
			<textarea id="description" name="room_description_de" rows="10"
				cols="50" v-model="description_de"></textarea>
			<br /> <br /> <b>Capacity</b> <br /> <input type="number" min="-1"
				max="40000" name="capacity" id="capacity" placeholder="-1">
			<br /> <br /> <b>Webview</b> <br /> EN: <br />
			<textarea id="description" name="webview_en" rows="10" cols="50"
				placeholder="<img src='https://thorstenrissom.eu/nouveau-rabumms.jpg' width=400  />"></textarea>
			<br /> DE: <br />
			<textarea id="description" name="webview_de" rows="10" cols="50"
				placeholder="Du befindest dich in der Lounge."></textarea>
			<br /> <br />
			<button v-on:click="cancel_edit()">cancel</button><button v-on:click="save_room()">save</button>
		</div>
		<div id="iframecontainer">
			<div id="videoview" style="width: 400px; height: 225px;"></div>
			<div id="webview" style="width: 400px; height: 50%;"></div>
		</div>
	</div>
	<script src="js/script.js"></script>
</body>
</html>